PORT=
MONGODB_URI=
ACCESS_TOKEN_KEY=
ACCESS_TOKEN_LIFE=

AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
BUCKET_REGION=
KAFKA_BROKER=broker:9092

DOCKER_VOLUME_PATH=

// this section we need to configure: "folder name" + "_" + "data type"

SUBMISSION_VOLUME=_submission-data
PROBLEM_VOLUME=_problem-data